// Breakpoints
$tablet-breakpoint: 800px;
$desktop-breakpoint: 1400px;


//Primary Colors 
$yellow:#fdd8a4;
$orange:#faac7b;
$pink:#D6A0A3;
$light-purple:#9d7381;
$dark-purple: #231a39;

//Secondary Colors

//Font Colors 
$font-white: white;
$font-black: black;

