@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use "../../styles/partials/mixins" as *;

.about {
    height:fit-content;
    padding:1rem 2rem;
    &__header {
        font-size: 3rem;
        font-weight:600;
        color:$dark-purple;
    }

    &__text {
        font-size: 1.3rem;
        line-height: 2rem;
        color:$dark-purple;
        padding-bottom: 4rem;
        border-bottom: 0.2rem solid $pink;
    }
}