@use '../../styles/partials/fonts' ;
@use '../../styles/partials/variables' as *;
@use "../../styles/partials/mixins" as *;

.meta{
    @include tablet{
        display: flex;
        flex-direction: column;
    }
}
.main{
    &__header{
        text-align: center;
        font-size: 2rem;
        padding: 3rem 0rem 1rem 0rem;
    }
}

// Styles Below Effect Current Weather 
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
        @include tablet{
            flex-direction: row;
        }
        @include desktop{

        }
    &__row{
        display: flex;
        @include tablet{
            flex-direction: column;
        }
        @include desktop{

        }
    }
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.2rem;
        &--day-length{
            align-items: baseline;
            flex-direction:row;
            justify-content: center;     
            text-decoration: underline;
         }
        @include tablet{
            margin: 1rem;
        }
        @include desktop{
            margin: 1.3rem 0.5rem;
        }
    }
    &__header{
        font-size: 1.5rem;
        color: $dark-purple;
    }
    &__info{
        padding: 1rem 2rem;
        font-size: 1.2rem;
        font-weight: 700;
        color: $light-purple;
            @include tablet{
                padding: 1rem;

            }
    }
}