@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use "../../styles/partials/mixins" as *;


.nav {
    height: 5rem;
    background-color: $dark-purple;
    display:flex;
    justify-content: center;
    align-items: center;
    &__container{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__img{
        width: 4rem;
        height: auto;
    }

    &__title {
        padding-left: 1rem;
        color: $font-white;
        font-size: 2rem;
        transition-duration: 0.5s;
        text-decoration: none;
    }

}